@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.output {
    width: 900px;
}

.list-group {
    display: none;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    border: 1px solid #7a7a7a56;
    color: white;
    text-align: start;

}

.list-group-item.list-group-item {
    border-top-width: 0;
    border: 1px solid #7a7a7a56;
    background: none;
}

#profile {
    display: none;
    border-radius: 50%;
    max-height: 128px;
    max-width: 128px;
    border: 2px solid #7a7a7a56;

}

.btn.btn-primary {
    margin-left: 10px;
}

.main {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.centered-error-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

/*
.alert.alert-danger.text-center {
	display: none;
	border-radius: 0.5rem;
	width: 450px;
}*/
.alert.alert-danger.text-center {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    /*color: #f9f9f9;*/
    color: #ff4754;
    background: transparent;
    /*padding: 1rem 1.2rem;*/
    /*min-width: 24rem;*/
    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;
    transition: border-color 0.2s;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
    background: #040404;
}

button {

    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #f9f9f9;
    background: transparent;
    padding: 1rem 1.2rem;
    /*min-width: 24rem;*/
    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;
    transition: border-color 0.2s;
}

label {
    position: relative;
}

label input {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #f9f9f9;
    background: transparent;

    padding: 1rem 1.2rem;
    min-width: 24rem;

    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;

    transition: border-color 0.2s;
}

label input:focus {
    border-color: #ff4754;
}

label p {
    color: #f9f9f9;
    font-size: 1rem;
    user-select: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 0.8rem;
    padding: 0 0.4rem;

    background: #040404;

    transition: top 0.2s, font-size 0.2s, color 0.2s;
}

label input:focus+p,
label input:not(:placeholder-shown)+p {
    top: 0;
    font-size: 0.9rem;
    color: #ff4754;
}